.menuSvg {
    width: 25px;
    height: 25px;
    padding: 7px 0;

    path {
        fill: $bg-color;
    }
}

.menu__alarm {
    margin-left: 30px;
}

.alarm_active {
    path {
        fill: red
    }
}